*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body {
    background:#E5E5E5 ;
}
.main-grid {
    background: #FFFFFF;
   width: 1440px;
   height: 900;
    margin:100px auto;
   padding-left:40px; 
    padding-right: 40px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: ;
    gap:15px;
   
}
.item {
    background-color:#007f57 ;
    color:white;
    padding:20px;
    border: white 1px solid;
    border-radius: 20px;
    
}
.item:nth-child(2) {
    width: 400px;
    height: 300px;
    align-self: center;
}
.item:nth-child(1) {
    width: 200px;
    height: 150px;
    align-self:flex-start;
}
.item:nth-child(4) {
    width: 200px;
    height: 150px;
    
}
.item:nth-child(7) {
    width: 400px;
    height: 220px;
    align-self: ;
}

.item:nth-child(3) {
    width: 320px;
    height: 122px;
    align-self: flex-start;
}
.item:nth-child(6) {
    width: 320px;
    height: 122px;
    align-self: ;
}

.item:nth-child(9) {
    width: 320px;
    height: 122px;
    align-self: ;
}
.item:nth-child(12) {
    width: 160px;
    height: 400px;
    align-self: ;
}


.item:nth-child(8) {
    width: 150px;
    height: 128px;
    align-self: ;
}
.item:nth-child(11) {
    width: 220px;
    height: 220px;
    align-self: ;
}
.item:nth-child(5) {
    width: 150px;
    height: 128px;
    align-self: ;
}


.item:nth-child(10) {
    width: 400px;
    height: 220px;
    align-self: ;
}

@media (max-width:500px) {
    .main-grid{
        grid-template-columns: 1fr;
    }
}





